body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    /* default background color of application */
    background: linear-gradient(to right, rgb(223, 68, 17), rgb(255, 0, 200));}

.color1, .color2{
    padding: 1px;
}

.copy {
    border-radius: 100px;
    padding: 5px;
}

h1 {
    font: 590 3em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.733);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    text-shadow: 2px 2px 8px rgb(10, 3, 3);

}

textarea {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.685);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 3px;
    width: 85%;
}